body {
	background-color: black;



}
h1{
	 
	border: 7px outset gray;
	color: gray;
	text-align: center;
	font-size: 350%;
	font-family: helvetica;
	background-color: orange;
		
}

h2{
	
	color: gray;
	text-align: left;
	font-size:250%;
}

p{
	
	color: white;
	font-size: 100%;
}

#detallemenu {
	border: 7px outset gray;
	background-color: orange;    
	text-align: left;
	font-size: 200%;
	position: right;
}
			
img {
	width: 400px;
	height: 222px;
	border: 1px solid #000;
	background-color: yellow;
	margin-right: 1em;
}

#botonmenu {

	color:orange;


}